   <div id="gallery">
      <h2>Images</h2>  
        <div class ="row">
            <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw1.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw2.jpg"></div>
                </div>
            </div>

          <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw3.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw4.jpg"></div>
                </div>
            </div>


 <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw5.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw6.jpg"></div>
                </div>
            </div>


             <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw7.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw8.jpg"></div>
                </div>
            </div>
 </div>

        <div class ="row">
            <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw9.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw10.jpg"></div>
                </div>
            </div>

          <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw11.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw12.jpg"></div>
                </div>
            </div>


 <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw13.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw14.jpg"></div>
                </div>
            </div>


             <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw15.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw16.jpg"></div>
                </div>
            </div>
 </div>


         <div class ="row">
            <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw1.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw18.jpg"></div>
                </div>
            </div>

          <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw4.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw12.jpg"></div>
                </div>
            </div>


 <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw14.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw2.jpg"></div>
                </div>
            </div>


             <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw7.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw9.jpg"></div>
                </div>
            </div>
 </div>

         <div class ="row">
            <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw10.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw11.jpg"></div>
                </div>
            </div>

          <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw1.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw2.jpg"></div>
                </div>
            </div>


 <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw13.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image"> 
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw6.jpg"></div>
                </div>
            </div>


             <div class ="col-md-3">
                <div class="photo photo-type-line">
                    <a href="img/bw8.jpg" class ="photo-hover" data-lightbox="my-images" data-title="My New Image">
                        <div class="photo-info">
                            <div class ="headline"> New text</div>
                            <div class="line"></div>
                            <div class="desc">New description</div>
                        </div>

                        <div class="mask"></div>
                    </a> 
                    <div class="photo-img"><img src ="img/bw15.jpg"></div>
                </div>
            </div>
 </div>

        </div>